* { 
    /* padding-top: 10px;*/ 
    font-family: "MesloLGS NF";  
    font-size: 22px;
    font-weight: normal;
    border-radius: 0; 
}

window#waybar {
    background-color: #282C34;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#worksaces {
    background: inherit;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #DCDFE4;
}

#workspaces button:hover {
    background-color: #5C6370;
}

#workspaces button.active {
    background-color: #98C379;    
}

#workspaces button.urgent {
    background-color: #E5C07B;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background: inherit;
    color: #61AFF0;
    font-size: 18px;
    font-weight: bold;
    margin-right: 7px;
}

#pulseaudio {
    background: inherit;
    color: #61AFF0;
    font-size: 18px;
    font-weight: bold;
    margin-right: 7px;
}

#pulseaudio.muted {
    background: inherit;
    color: #E06C75;
}

#tray {
    background: inherit;
    margin-right: 7px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: inherit;
    color: #61AFF0;
    font-size: 18px;
    font-weight: bold;
    margin-right: 7px; 
}
