* {
    font-family: JetBrainsMonoNerdFont;
    font-size: 20px;
}

window#waybar {
    background-color: #2F343F;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#workspaces {
    padding: 0 0 0 5px;
}

#workspaces button {
    padding: 0 0;
    background-color: inherit;
    color: #D2D2D1;
}

#workspaces button:hover {
    background: inherit;
    background-color: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #98C379;
}

#workspaces button.focused {
    background-color: inherit;
    color: #5294E2;
}

#workspaces button.urgent {
    background-color: inherit;
    color: #E5C07B;
}

#mode {
    background-color: inherit;
}

#tray {
    background-color: inherit;
    padding: 0 1px 0 1px;
}

#network {
    background-color: inherit;
    font-size: 20px;
    padding: 0 7px 0 2px;
}

#network.disconnected {
    color: #E06C75;
}

#network.linked{
    color: #E5C07B;
}

#language {
    background-color: inherit;
    padding: 0 0 0 0;
}

#clock {
    background-color: inherit;
    margin: 0 10px 0 0;
}
